<ng-container *transloco="let t">
  <ng-container *ngIf="meals | async as loadedMeals; else noMeals">
    <mat-list role="list">
      <xantar-meal-item
        *ngFor="let meal of loadedMeals"
        [meal]="meal"
        [deleteTooltip]="t('meals.delete.button_tooltip')"
        (deleteMeal)="deleteMeal($event)"
      ></xantar-meal-item>
    </mat-list>
  </ng-container>

  <ng-template #noMeals>
    <xantar-reload-content
      (reload)="reload()"
      [message]="t('meals.error.message')"
      [tooltip]="t('meals.error.reload_tooltip')"
    ></xantar-reload-content>
  </ng-template>
</ng-container>
