@import '../../../../../variables.scss';

:host {
  mat-toolbar.xantar-toolbar {
    display: flex;
    justify-content: space-between;
    height: $toolbar-height;
    div.buttons-container {
      .mat-icon-button {
        margin-left: 10px;
      }
    }
  }
}
