<mat-toolbar color="primary" class="xantar-toolbar" *transloco="let t">
  <span class="toolbar-title">{{ title }}</span>
  <div class="buttons-container">
    <a
      mat-icon-button
      *ngIf="showScheduleLink"
      [matTooltip]="t('schedule.navigate')"
      [attr.aria-label]="t('schedule.navigate')"
      routerLink="/schedule"
      class="schedule-anchor"
    >
      <mat-icon>restaurant</mat-icon>
    </a>
    <a
      mat-icon-button
      *ngIf="showListLink"
      [matTooltip]="t('meals.navigate')"
      [attr.aria-label]="t('meals.navigate')"
      routerLink="/meals"
      class="meals-list-anchor"
    >
      <mat-icon>format_list_bulleted</mat-icon>
    </a>
    <button
      *ngIf="addButtonSettings"
      (click)="addButtonSettings?.clickSubject?.next(true)"
      [matTooltip]="t(addButtonSettings?.tooltip)"
      mat-icon-button
      [attr.aria-label]="t(addButtonSettings?.tooltip)"
      class="create-meal-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>
